astrapy==1.5.2
Flask==3.1.2
groq==0.33.0
langchain==0.1.20
langchain-astradb==0.4.0
langchain-community==0.0.38
langchain-core==0.1.53
langchain-groq==0.1.5
langchain-huggingface==0.0.3
langchain-text-splitters==0.0.2
numpy==1.26.4
pandas==2.3.3
sentence-transformers==5.1.2
torch==2.9.0
transformers==4.57.1
datasets
pypdf
python-dotenv
pandas
prometheus_client